$base-font-size: 1.2em;
$theme-color: #2d4140;

body{
    font-size: $base-font-size;
    background-color: $theme-color + 200;

    h1 {
        color: $theme-color - 50;
        font-size: $base-font-size * 2;
    }
    h2 {
        color: $theme-color + 100;
        font-size: $base-font-size * 1.5;
    }
}